@import "tailwindcss";
#TaskList::-webkit-scrollbar{
  background-color: transparent;
}
#Tasks::-webkit-scrollbar{
     background-color: transparent;
}
#TaskDetail::-webkit-scrollbar{
  background-color: transparent;
}
